.normal {
	background-color: #a6a877;
}

.grass {
	background-color: #77c850;
}

.fire {
	background-color: #ee7f30;
}

.water {
	background-color: #678fee;
}

.electric {
	background-color: #f7cf2e;
}

.ice {
	background-color: #98d5d7;
}

.ground {
	background-color: #dfbf69;
}

.flying {
	background-color: #a98ff0;
}

.poison {
	background-color: #a040a0;
}

.fighting {
	background-color: #bf3029;
}

.psychic {
	background-color: #f65687;
}

.dark {
	background-color: #725847;
}

.rock {
	background-color: #b8a137;
}

.bug {
	background-color: #a8b720;
}

.ghost {
	background-color: #6e5896;
}

.steel {
	background-color: #b9b7cf;
}

.dragon {
	background-color: #6f38f6;
}

.fairy {
	background-color: #f9aec7;
}

.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	padding: 1rem;
}

.content h1 {
	flex: 1 0 100%;
	padding-left: 1rem;
}

.pokemons {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 fit-content;

	align-items: center;
	gap: 9px;
}

.pokemons .pokemon {
	display: flex;
	flex: 1 0 48%;
	flex-flow: column nowrap;
	padding: 0.6rem;

	color: #fff;

	border-radius: 36px;
}

.pokemons .pokemon .number {
	padding-right: 8px;
	align-self: self-end;
	filter: brightness(0.5);
}

.pokemons .pokemon .name {
	text-transform: capitalize;
	font-size: 1.525rem;
}

.pokemons .pokemon .detail {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.pokemons .pokemon .detail .types {
	flex: 0 1 111px;
}

.pokemons .pokemon .detail .types .type {
	margin: 0.2rem 0;
	padding: 0.425rem;
	backdrop-filter: brightness(1.075);
	border-radius: 37px;
	text-align: center;
}

.pokemons .pokemon .detail img {
	max-width: 62%;
	height: 74px;
}

.card-content > h1 {
	padding: 1rem;
}

.card-content {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 33px;
	color: #fff;
	text-transform: capitalize;
}

.card-content .card-number {
	padding-right: 1rem;
	align-self: self-end;
	filter: brightness(0.5);
}

.card-content .card-list {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	background-color: #fff;
	color: #4b4848;
	padding: 1rem;
	border-radius: 30px;
}

.card-content .card-list .cardList-item {
	padding: 0.5rem 0.8rem;
}

.card-content .card-types .type {
	flex: 0 1 69px;
	margin: 0.2rem;
	padding: 0.25rem;
	backdrop-filter: brightness(1.17);
	border-radius: 25px;
	text-align: center;
}

.card-content .card-types {
	display: flex;
	flex-flow: row nowrap;
	padding: 0 1rem;
}

.card-content .card-img {
	align-self: center;
	max-width: 62%;
	height: 174px;
	top: 23px;
	position: relative;
}

@media screen and (max-width: 370px) {
	.pokemons .pokemon .detail img {
		max-width: 73%;
		height: 100%;
	}
	.pokemons {
		flex-flow: column nowrap;
	}
	.pokemons .pokemon {
		flex: 0 min-content;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.pokemons .pokemon {
		flex: 1 0 fit-content;
		height: 140px;
	}

	.pokemons .pokemon .detail {
		gap: 5px;
	}

	.card-content {
		justify-content: center;
	}
}
